:root {
    background: #FFC573;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 100vh;
    stroke: #0047AB;
    /*transform: rotate(-90deg);*/
}

circle {
    fill: antiquewhite;
}